In [1]:
import pandas as pd
import numpy as np

## Export and Import values dataset

In [2]:
# Loading the dataset
trade_df=pd.read_csv("year_origin_destination_hs07_4.tsv", sep="\t")

In [3]:
trade_df.head()

   year origin dest  hs07  export_val  import_val
0  2008    ago  civ   902         NaN   3053887.0
1  2008    ago  civ  1511         NaN     31017.0
2  2008    ago  civ  1704         NaN     56428.0
3  2008    ago  civ  2710   932121.72         NaN
4  2008    ago  civ  2711   492622.69         NaN

In [4]:
trade_df['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [6]:
trade_df['origin'].unique()

array(['ago', 'bdi', 'ben', 'bfa', 'caf', 'civ', 'cmr', 'cod', 'cog',
       'com', 'cpv', 'dji', 'dza', 'egy', 'eri', 'esh', 'eth', 'gab',
       'gha', 'gin', 'gmb', 'gnb', 'gnq', 'ken', 'lbr', 'lby', 'mar',
       'mdg', 'mli', 'moz', 'mrt', 'mus', 'mwi', 'ner', 'nga', 'rwa',
       'sdn', 'sen', 'shn', 'sle', 'som', 'stp', 'syc', 'tcd', 'tgo',
       'tun', 'tza', 'uga', 'xxa', 'zaf', 'zmb', 'zwe', 'ata', 'atf',
       'bvt', 'hmd', 'sgs', 'afg', 'are', 'arm', 'aze', 'bgd', 'bhr',
       'brn', 'btn', 'cck', 'chn', 'cxr', 'cyp', 'geo', 'hkg', 'idn',
       'ind', 'iot', 'irn', 'irq', 'isr', 'jor', 'jpn', 'kaz', 'kgz',
       'khm', 'kor', 'kwt', 'lao', 'lbn', 'lka', 'mac', 'mdv', 'mmr',
       'mng', 'mys', 'npl', 'omn', 'pak', 'phl', 'prk', 'pse', 'qat',
       'sau', 'sgp', 'syr', 'tha', 'tjk', 'tkm', 'tls', 'tur', 'uzb',
       'vnm', 'xxb', 'yem', 'alb', 'and', 'aut', 'bgr', 'bih', 'blr',
       'blx', 'che', 'cze', 'deu', 'dnk', 'esp', 'est', 'fin', 'fra',
       'gbr', 'gib', 'grc', 'hrv', 'hun', 'irl', 'isl', 'ita', 'ltu',
       'lva', 'mda', 'mkd', 'mlt', 'mne', 'nld', 'nor', 'pol', 'prt',
       'rou', 'rus', 'smr', 'srb', 'svk', 'svn', 'swe', 'ukr', 'vat',
       'xxc', 'abw', 'aia', 'ant', 'atg', 'bhs', 'blz', 'bmu', 'brb',
       'can', 'cri', 'cub', 'cym', 'dma', 'dom', 'grd', 'grl', 'gtm',
       'hnd', 'hti', 'jam', 'kna', 'lca', 'mex', 'msr', 'nic', 'pan',
       'slv', 'spm', 'tca', 'tto', 'usa', 'vct', 'vgb', 'xxd', 'asm',
       'aus', 'cok', 'fji', 'fsm', 'gum', 'kir', 'mhl', 'mnp', 'ncl',
       'nfk', 'niu', 'nru', 'nzl', 'pcn', 'plw', 'png', 'pyf', 'slb',
       'tkl', 'ton', 'tuv', 'vut', 'wlf', 'wsm', 'arg', 'bol', 'bra',
       'chl', 'col', 'ecu', 'flk', 'guy', 'per', 'pry', 'sur', 'ury',
       'ven', 'xxf', 'xxg', 'xxh', 'xxi', 'xxe', 'bes', 'cuw', 'maf',
       'ssd', 'blm'], dtype=object)

## Keeping only transactions Exported from USA or Imported to USA
We are focusing on trade of USA only

In [7]:
trade_cleaned=trade_df[(trade_df['origin']=='usa') | (trade_df['dest']=='usa')]

In [8]:
trade_cleaned.head()

      year origin dest  hs07  export_val   import_val
9173  2008    ago  usa   202         NaN    2471022.0
9174  2008    ago  usa   203         NaN    2741730.0
9175  2008    ago  usa   206         NaN    4842336.0
9176  2008    ago  usa   207         NaN  109095046.0
9177  2008    ago  usa   210         NaN     148422.0

# Checking for Null values

In [11]:
#Checking if all values in a column is Null
trade_cleaned.isnull().all()

year          False
origin        False
dest          False
hs07          False
export_val    False
import_val    False
dtype: bool

In [9]:
trade_cleaned.isnull().sum()

year               0
origin             0
dest               0
hs07               0
export_val    300679
import_val    300679
dtype: int64

Only the import and export values are Null, so we need not do any further data cleaning

In [10]:
trade_cleaned.shape

(1035252, 6)

### Are there rows with both export and export values NULL ?

In [12]:
trade_cleaned[(trade_cleaned['export_val'].isnull()) & (trade_cleaned['import_val'].isnull())]

Empty DataFrame
Columns: [year, origin, dest, hs07, export_val, import_val]
Index: []

## Getting country names from Country codes

In [2]:
import pycountry

In [3]:
#country codes are all in Upper case
list_alpha_3 = [i.alpha_3 for i in list(pycountry.countries)] 
list_alpha_3

[u'ABW',
 u'AFG',
 u'AGO',
 u'AIA',
 u'ALA',
 u'ALB',
 u'AND',
 u'ARE',
 u'ARG',
 u'ARM',
 u'ASM',
 u'ATA',
 u'ATF',
 u'ATG',
 u'AUS',
 u'AUT',
 u'AZE',
 u'BDI',
 u'BEL',
 u'BEN',
 u'BES',
 u'BFA',
 u'BGD',
 u'BGR',
 u'BHR',
 u'BHS',
 u'BIH',
 u'BLM',
 u'BLR',
 u'BLZ',
 u'BMU',
 u'BOL',
 u'BRA',
 u'BRB',
 u'BRN',
 u'BTN',
 u'BVT',
 u'BWA',
 u'CAF',
 u'CAN',
 u'CCK',
 u'CHE',
 u'CHL',
 u'CHN',
 u'CIV',
 u'CMR',
 u'COD',
 u'COG',
 u'COK',
 u'COL',
 u'COM',
 u'CPV',
 u'CRI',
 u'CUB',
 u'CUW',
 u'CXR',
 u'CYM',
 u'CYP',
 u'CZE',
 u'DEU',
 u'DJI',
 u'DMA',
 u'DNK',
 u'DOM',
 u'DZA',
 u'ECU',
 u'EGY',
 u'ERI',
 u'ESH',
 u'ESP',
 u'EST',
 u'ETH',
 u'FIN',
 u'FJI',
 u'FLK',
 u'FRA',
 u'FRO',
 u'FSM',
 u'GAB',
 u'GBR',
 u'GEO',
 u'GGY',
 u'GHA',
 u'GIB',
 u'GIN',
 u'GLP',
 u'GMB',
 u'GNB',
 u'GNQ',
 u'GRC',
 u'GRD',
 u'GRL',
 u'GTM',
 u'GUF',
 u'GUM',
 u'GUY',
 u'HKG',
 u'HMD',
 u'HND',
 u'HRV',
 u'HTI',
 u'HUN',
 u'IDN',
 u'IMN',
 u'IND',
 u'IOT',
 u'IRL',
 u'IRN',
 u'IRQ',
 u'ISL',
 u'ISR',
 u'ITA',
 u'JAM',
 u'JEY',
 u'JOR',
 u'JPN',
 u'KAZ',
 u'KEN',
 u'KGZ',
 u'KHM',
 u'KIR',
 u'KNA',
 u'KOR',
 u'KWT',
 u'LAO',
 u'LBN',
 u'LBR',
 u'LBY',
 u'LCA',
 u'LIE',
 u'LKA',
 u'LSO',
 u'LTU',
 u'LUX',
 u'LVA',
 u'MAC',
 u'MAF',
 u'MAR',
 u'MCO',
 u'MDA',
 u'MDG',
 u'MDV',
 u'MEX',
 u'MHL',
 u'MKD',
 u'MLI',
 u'MLT',
 u'MMR',
 u'MNE',
 u'MNG',
 u'MNP',
 u'MOZ',
 u'MRT',
 u'MSR',
 u'MTQ',
 u'MUS',
 u'MWI',
 u'MYS',
 u'MYT',
 u'NAM',
 u'NCL',
 u'NER',
 u'NFK',
 u'NGA',
 u'NIC',
 u'NIU',
 u'NLD',
 u'NOR',
 u'NPL',
 u'NRU',
 u'NZL',
 u'OMN',
 u'PAK',
 u'PAN',
 u'PCN',
 u'PER',
 u'PHL',
 u'PLW',
 u'PNG',
 u'POL',
 u'PRI',
 u'PRK',
 u'PRT',
 u'PRY',
 u'PSE',
 u'PYF',
 u'QAT',
 u'REU',
 u'ROU',
 u'RUS',
 u'RWA',
 u'SAU',
 u'SDN',
 u'SEN',
 u'SGP',
 u'SGS',
 u'SHN',
 u'SJM',
 u'SLB',
 u'SLE',
 u'SLV',
 u'SMR',
 u'SOM',
 u'SPM',
 u'SRB',
 u'SSD',
 u'STP',
 u'SUR',
 u'SVK',
 u'SVN',
 u'SWE',
 u'SWZ',
 u'SXM',
 u'SYC',
 u'SYR',
 u'TCA',
 u'TCD',
 u'TGO',
 u'THA',
 u'TJK',
 u'TKL',
 u'TKM',
 u'TLS',
 u'TON',
 u'TTO',
 u'TUN',
 u'TUR',
 u'TUV',
 u'TWN',
 u'TZA',
 u'UGA',
 u'UKR',
 u'UMI',
 u'URY',
 u'USA',
 u'UZB',
 u'VAT',
 u'VCT',
 u'VEN',
 u'VGB',
 u'VIR',
 u'VNM',
 u'VUT',
 u'WLF',
 u'WSM',
 u'YEM',
 u'ZAF',
 u'ZMB',
 u'ZWE']

In [11]:
#Function that returns country names, given the country code 
def org_country_names(code):
    if(code in list_alpha_3):
        return pycountry.countries.get(alpha_3=code).name
    else:
        return 'Invalid code'

In [12]:
print org_country_names('AGO')

Angola

In [13]:
# Changing the Origin and Destination country codes to country names
trade_cleaned['Origin_country']=trade_cleaned.apply(lambda row: org_country_names(row['origin'].upper()), axis = 1)
trade_cleaned['Dest_country']=trade_cleaned.apply(lambda row: org_country_names(row['dest'].upper()), axis = 1)

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
trade_cleaned.head()

,year,origin,dest,hs07,export_val,import_val,Origin_country,Dest_country
9173,2008,ago,usa,202,NaN,2471022.0,Angola,United States
9174,2008,ago,usa,203,NaN,2741730.0,Angola,United States
9175,2008,ago,usa,206,NaN,4842336.0,Angola,United States
9176,2008,ago,usa,207,NaN,109095046.0,Angola,United States
9177,2008,ago,usa,210,NaN,148422.0,Angola,United States

### The invalid country codes are XXB, BLX, etc - ISO country codes to depict trade with individuals who are Stateless persons or persons with unspecified nationality

In [15]:
#Removing the rows with invalid country codes
trade_cleaned=trade_cleaned[(trade_cleaned['Origin_country']!='Invalid code') & (trade_cleaned['Dest_country']!='Invalid code')]

In [17]:
trade_cleaned.head()

,year,origin,dest,hs07,export_val,import_val,Origin_country,Dest_country
9173,2008,ago,usa,202,NaN,2471022.0,Angola,United States
9174,2008,ago,usa,203,NaN,2741730.0,Angola,United States
9175,2008,ago,usa,206,NaN,4842336.0,Angola,United States
9176,2008,ago,usa,207,NaN,109095046.0,Angola,United States
9177,2008,ago,usa,210,NaN,148422.0,Angola,United States

### Filtering out years - 2014 to 2017
Keeping only 4 years of data for the Map and Treemaps.
To create the Maps we have to create a Union of the dataset, having a huge dataset would create processing problems so we filtered out only 4 years

In [5]:
trade_cleaned_filtered=trade_cleaned[trade_cleaned['year']>=2014]

In [19]:
trade_cleaned.to_csv("Trade_allyears.csv",index=False,encoding='utf-8',columns=['year','Origin_country','Dest_country','hs07','export_val','import_val'])

In [29]:
trade_cleaned_filtered.to_csv("Trade_USA.csv",index=False, encoding='utf-8',columns=['year','Origin_country','Dest_country','hs07','export_val','import_val'])

# HS codes dataset for Product categories

In [8]:
#Loading the dataset
hscodes=pd.read_csv("products_hs_07.tsv", sep="\t")

In [9]:
hscodes.head()

        id   hs07                                               name
0    10101    101             Live horses, asses, mules and hinnies.
1  1010110  10110  Live horses/asses/mules/hinnies: pure-bred bre...
2  1010190  10190  Live horses/asses/mules/hinnies other than pur...
3    10102    102                               Live bovine animals.
4  1010210  10210    Live bovine animals: pure-bred breeding animals

In [10]:
#Converting the code to string 
hscodes['hs07'] = hscodes['hs07'].astype('str')

In [12]:
hscodes.dtypes

id       int64
hs07    object
name    object
dtype: object

The hscodes are an internaltional standard for product codes. The dataset had the product names and not the category, so we looked up the product category from this website: https://www.foreign-trade.com/reference/hscode.htm
The product category is based on the first two digits of the HScode, which can be 2 digits(Category), 4 digits(Sub-category) or 6 digits(product name).

In [4]:
# Converting the hscodes to even number of digits, to get its product category
def convert_hs(n):
    if(len(n)%2 !=0):
        return '0'+n
    else: 
        return n

In [5]:
#test
print convert_hs('50191')

050191

In [15]:
# Calling the function for the hscode at every row
hscodes['hs07'] = hscodes.apply(lambda row: convert_hs(row['hs07']), axis=1)

In [16]:
hscodes.head()

        id    hs07                                               name
0    10101    0101             Live horses, asses, mules and hinnies.
1  1010110  010110  Live horses/asses/mules/hinnies: pure-bred bre...
2  1010190  010190  Live horses/asses/mules/hinnies other than pur...
3    10102    0102                               Live bovine animals.
4  1010210  010210    Live bovine animals: pure-bred breeding animals

In [39]:
# Function to get the Product category from the frist 2 digits of the hscode
def get_category(code):
    if(code[0:2] in ['01','02','03','04','05']):
        return 'Animals and Animal products'
    if(code[0:2] in ['06','07','08','09','10','11','12','13','14']):
        return 'Vegetable products'
    if(code[0:2] =='15'):
        return 'Animal and Vegetable Fats and Oils'
    if(code[0:2] in ['16','17','18','19','20','21','22','23','24']):
        return 'Food Stuffs, Beverages and Tobacco'
    if(code[0:2] in ['25','26','27']):
        return 'Mineral Products'
    if(code[0:2] in ['28','29','30','31','32','33','34','35','36','37','38']):
        return 'Chemicals and Allied industries'
    if(code[0:2] in ['39','40']):
        return 'Plastic and Rubber'
    if(code[0:2] in ['41','42','43']):
        return 'Raw hide, Skin, Leather, Fur'
    if(code[0:2] in ['44','45','46']):
        return 'Wood and wood products'
    if(code[0:2] in ['47','48','49']):
        return 'Pulp of Wood and Fibrous Material'
    if(code[0:2] in ['50','51','52','53','54','55','56','57','58','59','60','61','62','63']):
        return 'Textiles'
    if(code[0:2] in ['64','65','66','67']):
        return 'Footwear and Headgear'
    if(code[0:2] in ['68','69','70']):
        return 'Stone and Glass'
    if(code[0:2] == '71'):
        return 'Precious Stone, Metal, Pearls and Coins'
    if(code[0:2] in ['72','73','74','75','76','77','78','79','80','81','82','83']):
        return 'Base metals'
    if(code[0:2] in ['84','85']):
        return 'Machinery or Electrical'
    if(code[0:2] in ['86','87','88','89']):
        return 'Transportation'
    if(code[0:2] in ['90','91','92']):
        return 'Precision instruments'
    if(code[0:2] =='93'):
        return 'Arms and Ammunition'
    if(code[0:2] in ['94','95','96']):
        return 'Miscellaneous'
    if(code[0:2] =='97'):
        return 'Works of Art'

In [40]:
#Test
print get_category('97000')

Works of Art

In [41]:
# Calling the function to generate the Product category for the hscode at every row
hscodes['category'] = hscodes.apply(lambda row: get_category(row['hs07']), axis=1)

In [42]:
hscodes.head()

,id,hs07,name,category
0,10101,0101,"Live horses, asses, mules and hinnies.",Animals and Animal products
1,1010110,010110,Live horses/asses/mules/hinnies: pure-bred bre...,Animals and Animal products
2,1010190,010190,Live horses/asses/mules/hinnies other than pur...,Animals and Animal products
3,10102,0102,Live bovine animals.,Animals and Animal products
4,1010210,010210,Live bovine animals: pure-bred breeding animals,Animals and Animal products

In [43]:
#Writing the dataframe to a file
hscodes.to_csv("ProductCodes.csv",index=False)